In [1]:
# import dependencies
import pandas as pd
import gmaps
import requests

# import API
from config import g_key

In [2]:
# read csv
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Guantanamo,CU,2021-05-25 15:15:33,20.1444,-75.2092,87.87,55,20,6.31
1,1,Waitati,NZ,2021-05-25 15:15:34,-45.7500,170.5667,37.80,73,100,2.93
2,2,Chuy,UY,2021-05-25 14:14:03,-33.6971,-53.4616,62.10,54,0,17.96
3,3,Qaanaaq,GL,2021-05-25 14:14:01,77.4840,-69.3632,31.28,69,0,7.07
4,4,Lata,PT,2021-05-25 15:15:18,40.1629,-8.3327,83.71,45,48,8.30

In [3]:
# DATA FOR GMPAS MUST USE INT OR FLT TO MAP
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# CONFIGURE GMPAS TO USE API
gmaps.configure(api_key=g_key)

In [ ]:
# GENERAL SYNTAX FOR A HEATMAP

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

In [ ]:
# IF YOUR MAX TEMP IS BELOW 0 YOU WILL GET ERR, USE FOR LOOP TO SET IT TO 0
# Get the maximum temperature.
      #  max_temp = city_data_df["Max Temp"]
      #  temps = []
      #  for temp in max_temp:
      #      temps.append(max(temp, 0))
        
# SAME BUT WITH LIST COMPREHENSION
#  [max(temp, 0) for temp in max_temp]

In [10]:
# Heatmap of temp
# get lat lng
locations = city_data_df[["Lat" , "Lng"]]

# get max temp
max_temp = city_data_df["Max Temp"]

# assign fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level= 1.5)

# assign heatmap var
# CHANGE MAX_TEMP LST CMP 
heatmap_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp],
                                   dissipating= False, max_intensity = 300, point_radius= 4) 

# assign heatmap layer
fig.add_layer(heatmap_layer)

# call fig to plot 
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# humidity heatmap 

#get lat lng
locations = city_data_df[["Lat" , "Lng"]]

# get humidity
humidity = city_data_df["Humidity"]

# assign fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level= 1.5)

# assign heatmap var
heatmap_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                   dissipating= False, max_intensity = 300, point_radius= 4) 

# assign heatmap layer
fig.add_layer(heatmap_layer)

# call fig to plot 
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# cloud heatmap 

#get lat lng
locations = city_data_df[["Lat" , "Lng"]]

# get cloudiness
clouds = city_data_df["Cloudiness"]

# assign fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level= 1.5)

# assign heatmap var
heatmap_layer = gmaps.heatmap_layer(locations, weights = clouds,
                                   dissipating= False, max_intensity = 300, point_radius= 4) 

# assign heatmap layer
fig.add_layer(heatmap_layer)

# call fig to plot 
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# wind speed heatmap
#get lat lng
locations = city_data_df[["Lat" , "Lng"]]

# get wind speed
wind_speed = city_data_df["Wind Speed"]

# assign fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level= 1.5)

# assign heatmap var
heatmap_layer = gmaps.heatmap_layer(locations, weights = wind_speed,
                                   dissipating= False, max_intensity = 300, point_radius= 4) 

# assign heatmap layer
fig.add_layer(heatmap_layer)

# call fig to plot 
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# filter df to find cities that fit criteria
preferred_citys_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_citys_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Guantanamo,CU,2021-05-25 15:15:33,20.1444,-75.2092,87.87,55,20,6.31
4,4,Lata,PT,2021-05-25 15:15:18,40.1629,-8.3327,83.71,45,48,8.30
5,5,Salt,JO,2021-05-25 15:15:34,32.0392,35.7272,84.76,27,0,14.85
9,9,Bengkulu,ID,2021-05-25 14:14:55,-3.8004,102.2655,79.72,87,100,5.08
12,12,Cayenne,GF,2021-05-25 14:14:00,4.9333,-52.3333,84.24,83,75,1.99
20,20,Hilo,US,2021-05-25 14:14:20,19.7297,-155.0900,79.29,94,90,5.75
24,24,Jamestown,US,2021-05-25 14:14:00,42.0970,-79.2353,75.33,74,97,8.01
27,27,Sibolga,ID,2021-05-25 15:15:37,1.7427,98.7792,78.40,90,81,3.04
28,28,Harper,LR,2021-05-25 15:15:38,4.3750,-7.7169,83.16,75,88,6.35
29,29,Antalaha,MG,2021-05-25 14:14:00,-14.9003,50.2788,75.70,74,42,13.60

In [35]:
# preferred_citys_df.count()

City ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [34]:
# preferred_citys_df.isnull().sum()

City ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [33]:
#drop null rows
preferred_citys_df = preferred_citys_df.dropna(how= 'any')

In [38]:
hotel_df = preferred_citys_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

C:\Users\ceife\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          City Country  Max Temp      Lat       Lng Hotel Name
0   Guantanamo      CU     87.87  20.1444  -75.2092
4         Lata      PT     83.71  40.1629   -8.3327
5         Salt      JO     84.76  32.0392   35.7272
9     Bengkulu      ID     79.72  -3.8004  102.2655
12     Cayenne      GF     84.24   4.9333  -52.3333
20        Hilo      US     79.29  19.7297 -155.0900
24   Jamestown      US     75.33  42.0970  -79.2353
27     Sibolga      ID     78.40   1.7427   98.7792
28      Harper      LR     83.16   4.3750   -7.7169
29    Antalaha      MG     75.70 -14.9003   50.2788

In [45]:
# Set parameters to search for a hotel.
params = {  "radius": 5000,
            "types": "Lodging",
            "key": g_key
         }

In [48]:
# iterate through df 
for index, row in hotel_df.iterrows():
    # get lat lng
    lat = row["Lat"]
    lng = row["Lng"]
    
    # add lat lng to location key for the params dic
    params["location"] = f"{lat}, {lng}"
    
    # use search term "lodging" and our lat lng 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request and get json data 
    hotels = requests.get(base_url, params=params).json()
    
    # grab first hotel from results and store name 
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... Skipping")

C:\Users\ceife\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [49]:
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng  Hotel Name
0   Guantanamo      CU     87.87  20.1444  -75.2092  Guantanamo
4         Lata      PT     83.71  40.1629   -8.3327     Coimbra
5         Salt      JO     84.76  32.0392   35.7272     As-Salt
9     Bengkulu      ID     79.72  -3.8004  102.2655    Bengkulu
12     Cayenne      GF     84.24   4.9333  -52.3333     Cayenne
20        Hilo      US     79.29  19.7297 -155.0900        Hilo
24   Jamestown      US     75.33  42.0970  -79.2353   Jamestown
27     Sibolga      ID     78.40   1.7427   98.7792     Sibolga
28      Harper      LR     83.16   4.3750   -7.7169      Harper
29    Antalaha      MG     75.70 -14.9003   50.2788    Antalaha

In [55]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# make info box and store to df
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]